<div class="container">
	<div class="row bg-secondary text-white p-2 py-4 rounded">
		<div class="col-sm-6 col-md-4 text-center text-sm-left">
			<p>
			Pepe Corzo 2 primera planta <br>
			41500 Alcalá de Guadaíra <br>
			Sevilla - España <br>
			</p>
			<p class="mb-3 mb-sm-0">
			Teléfono: 955698803 <br>
			Email: <a href="mailto:info@existo.es" class="text-white">info@existo.es</a> <br>
			<a href="//www.existo.es" target="_blank" class="text-white">www.existo.es</a>
			</p>
		</div>

		<div class="col-sm-6 col-md-4 text-center text-sm-left">
			<ul class="navbar-nav mb-4 mb-sm-0">
				<li class="nav-item">
					<a class="nav-link pt-0 text-white" href="#">Presentación</a>
				</li>
				<li class="nav-item text-white">
					<a class="nav-link pt-0 text-white" href="#">Servcicios</a>
				</li>
				<li class="nav-item">
					<a class="nav-link pt-0 text-white" href="#">Proyectos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link pt-0 text-white" href="#">Noticias</a>
				</li>
				<li class="nav-item">
					<a class="nav-link pt-0 text-white" href="#">Contacto</a>
				</li>
			</ul>
		</div>

		<div class="col-sm-12 col-md-4 text-center text-sm-right">
			<h4>Demoweb</h4>
		</div>
		<div class="col-md-12 text-center text-sm-right">
			<a href="" class="text-white"><small>Aviso Legal</small></a>
		</div>
	</div>
</div>
