<div class="container-fluid bg-dark">
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/">Demoweb</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/presentacion">Presentación</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/servicios">Servcicios</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/proyectos">Proyectos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/noticias">Noticias</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/contacto">Contacto</a>
					</li>
				</ul>
				<span class="navbar-text mr-3">
					<a href="">es</a> / <a href="">en</a>
				</span>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Buscar...">
					<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Buscar</button>
				</form>
			</div>
		</nav>
	</div>
</div>