<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link active" href="/">Inicio</a>
			<a class="nav-item nav-link" href="/contenido-1">Contenido 1</a>
			<a class="nav-item nav-link" href="/contenido-2">Contenido 2</a>
		</div>
	</div>
</nav>
