<!DOCTYPE html>
<html lang="{{__route.lng}}">
	<head>
		{% include "partials/head.njk" %}
		<link rel="stylesheet" href="/css/main.css">
	</head>

	<body>
		<div id="app">
			{% include "partials/top.njk" %}

			{% block content %}
			{% endblock %}

			{% include "partials/footer.njk" %}
		</div>
		
		{% block scripts %}
			<script src="/js/main.js" charset="utf-8"></script>
			
			<script> console.log({{__route | dump | safe}})</script>
		{% endblock %}
		
	</body>
</html>

