<!DOCTYPE html>
<html lang="{{__route.lng}}">
	<head>
		{% include "partials/head.njk" %}
		<link rel="stylesheet" href="/css/main.css">
	</head>

	<body>
		{{__route | dump}}
		{% include "partials/top.njk" %}

		{% block content %}
		{% endblock %}

		{% include "partials/footer.njk" %}

		{% block scripts %}
			<script src="/js/main.js" charset="utf-8"></script>
		{% endblock %}
	</body>
</html>
