<!DOCTYPE html>

{# TODO: Es necesario cambiar el idioma del documento y elegir uno por default #}
<html lang="{{__route.idioma}}">
	<head>
		{% include "partials/head.njk" %}
		<link rel="stylesheet" href="/css/main.css">
	</head>

	<body>
		{% include "partials/top.njk" %}

		{% block content %}
		{% endblock %}

		{% include "partials/footer.njk" %}

		{% block scripts %}
			<script src="/js/main.js" charset="utf-8"></script>
		{% endblock %}
	</body>
</html>
