{% extends "layouts/layout.njk" %}

{% block content %}

{% include "partials/cabecera.njk"%}

<div class="container">
	<h1>Contacto</h1>
	<div id="app">
		<contacto></contacto>
	</div>
</div>

{% endblock %}

{% block scripts %}
	{{ super() }}
{% endblock %}
