{% extends "layouts/layout.njk" %}

{% block content %}

{% include "partials/cabecera.njk"%}

<div class="container">
	<h1>{{item.description | safe}}</h1>
	<div class="row">
		<div class="col-md-12">
			<div id="app">
				{{item.html | safe}}				
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
	{{ super() }}
{% endblock %}
