{% extends "layouts/layout.njk" %}

{% block content %}

{% include "partials/cabecera.njk"%}

<div class="container">
	<div class="row">
		{% for noticia in noticias %}
		<div class="col-md-4 mb-5">
			<img src="{{ noticia.foto }}" alt="{{ noticia.titular }}" class="img-fluid">
			<h2>{{ noticia.titular }}</h2>
			<p>{{ noticia.entradilla }}</p>
			<a href="/noticias-lista/{{ noticia.id }}" class="btn btn-outline-primary btn-block">Leer más</a>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}

{% block scripts %}
	{{ super() }}
{% endblock %}
