{% extends "layouts/layout.njk" %}

{% block content %}

{% include "partials/cabecera.njk"%}

<div class="container">
	<div class="row">
		<div class="offset-md-1 col-md-10 mb-5">
			<img src="{{ noticia.foto }}" alt="{{ noticia.titular }}" class="d-block m-auto w-100">
			<h1 class="mt-3">{{ noticia.titular }}</h1>
			<p>{{ noticia.entradilla }}</p>
			<p>{{ noticia.cuerpo }}</p>
			<a href="/noticias" class="btn btn-outline-secondary btn-block mt-5">Volver</a>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
	{{ super() }}
{% endblock %}
