{% extends "layouts/layout.njk" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="app">
				Noticias
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
	{{ super() }}
{% endblock %}
