{% extends "layouts/layout.njk" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Vista 1</h1>
			<h3>Información de la ruta</h3>
			<h4>Ruta: {{__route.router.route}}</h4>
			<h4>Vista: {{__route.router.view}}</h4>
			<pre>
				{{__route | dump | safe}}
			</pre>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
	{{ super() }}
{% endblock %}

